* {
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper {
    width: 80%;
    margin: auto;
}

#page-header {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    color: orange;
    font-size: calc(2px + 1vw);
    font-family: "Academy Engraved LET", cursive;
    padding: 3vh;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: cornflowerblue;
    font-family: "Times New Roman", Times, serif;
}

nav {
    width: 30%;
}

nav ul {
    display: flex;
    flex-direction: column;
    font-size: calc(5px + 1.5vw);
    background-color: deepskyblue;
    padding-left: 0;
    list-style: none;
}

nav li {
    background-color: greenyellow;
    width: 90%;
    padding: 0.8vh 0;
    margin: 2.5vh auto;
    text-align: center;
    border: 5px solid purple;
}

nav a {
    text-decoration: none;
}

main {
    width: 70%;
}

main header{
    text-align: center;
    color: darkred;
    font-size: calc(5px + 1.5vw);
    padding: 2vh;
}

#main-content {
    font-size: calc(10px + 1vw);
    padding: 3vh;
    border-left: 5px solid orange;
    margin: 5%;
}

footer {
    background-color: aquamarine;
    color: red;
    padding: 3.5vh 1vw;
}

footer p {
    padding: 1vh;
}

@media screen and (max-width: 750px) {
    #page-header {
        text-align: center;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav li {
        font-size: calc(4px + 1vw);
        border: 2px solid purple;
        padding: 1% .5%;
        margin: 1% .5%;
    }
}

@media screen and (max-width: 1000px) {
    #page-wrapper {
        width: 100%;
    }

    #page-header {
        text-align: center;
    }

    #container {
        display: block;
    }

    main {
        width: 100%;
        height: 80vh;
    }

    main header {
        font-size: calc(10px + 2vw);
    }

    #main-content {
        font-size: calc(10px + 1.5vw);
    }

}